<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Escolar</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- Cabeçalho -->
  <header id="menu">
    <div class="logo">
      <img src="/IMG/logo.png" alt="Logo">
    </div>
    <div class="entrar">
      <a href="#">
        Entrar
      </a>
    </div>
  </header>

  <!-- Conteúdo principal -->
   <main>
    <div class="landing-1">
      <img src="/IMG/logo.png" alt="Logo">
        <div class="texto-1">
        Conheça a número um em vendas de cosmeticos, especializada em perfumes e cremes.
        </div>
    </div>


      <div class="flexbox">
          <div class="titulo">
            Sobre Nós
          </div>
        <div class="descrição">
          Na MaryCario, transformamos a beleza em uma experiência pessoal. Nossos perfumes e cosméticos são feitos com ingredientes de alta qualidade para realçar sua essência e celebrar sua individualidade. Somos mais que uma marca; somos seu parceiro na jornada de autodescoberta.
        </div>
      <div class="imagem-inicial">
        <img src="/img/permufe.png">
      </div>
  </main>
  <!-- Rodapé -->
  <footer>


  </footer>

</body>
</html>