<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos e Condições | MaryCario</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body class="fundo-termos">


    <main class="container-termos">
        
        <div class="logo-termos">
            <img src="/IMG/logo.png" alt="Logo MaryCario">
        </div>

        <div class="caixa-termos">
            <ol>
                <li><strong>Aceitação dos Termos:</strong> Ao acessar e comprar na Marycario Perfumes, você aceita e concorda com estes termos.</li>
                <li><strong>Política de Pagamento:</strong> Os pagamentos são processados por meio de plataformas seguras. Os preços não incluem frete, que será calculado à parte.</li>
                <li><strong>Envio e Entrega:</strong> O prazo de entrega é uma estimativa. A Marycario não se responsabiliza por atrasos de terceiros ou por endereços incompletos.</li>
                <li><strong>Devoluções e Trocas:</strong> Produtos lacrados e sem uso podem ser trocados ou devolvidos em até 7 dias após o recebimento.</li>
            </ol>
        </div>

        <div class="botoes-acao">
            <button class="botao-acao aceitar" onclick="window.location.href='/login'">ACEITAR</button>
            <button class="botao-acao rejeitar" onclick="window.location.href='/'">REJEITAR</button>
        </div>
        
    </main>


</body>
</html>